<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div><h1>Add City</h1></div>
<div><p style="color: red;"><%= msg %></p></div>
<body>
    <form action="" method="post">
        <label for="cat">Cites</label>
        <input type="text" name="city" required>
        <input type="submit" value="Add">
    </form>
</body>
</html>