<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><h1>add sub categoreis</h1></div>
    <div><p style="color: red;"><%= msg %></p></div>
    <div>
        <form action="" method="post" style="border:1px solid;">
            <label for="select cate">Select categoreis</label>
            <select name="cat_id" id="">
                <% if(cat_data){ %>
                <% for(ele of cat_data){ %>
                <option value="<%= ele._id %>"><%= ele.name %></option>
                <% } } %>
            </select>
            <br>
            <label for="Sub Cat">Enter sub_categoreis_name</label>
            <input type="text" name="sub_cat" placeholder="enter text">
            <br>
            <input type="submit" value="Add">
        </form>
    </div>
</body>
</html>