<!-- ==================================================Side Bar Area start========================================================= -->
    <!-- Sidebar section means categories section -->
    <aside class="sidebar">
      <!-- Heading area -->
      <div class="sidebar-header">
        <h1>Important Links</h1>
        <button class="closebtn" onclick="closeSideBar()"><i style="font-size:2rem" class="fas">&#xf00d;</i></button>
      </div>
      <!-- End of heading area -->
      <!-- Thsi is list of categores in side bar like books, electronics -->
      <div class="sidebar-links links">
        <ul>
          <li><a href="/admin/pending_ads">Pending Ads</a></li>
          <li><a href="/admin/all_approved_ads">Approved Ads</a></li>
          <li><a href="/admin/all_verified_users">Verified Users</a></li>
          <li><a href="/admin/all_un_verified_users">Unverified Users</a></li>
          <li><a href="http://">Cities</a></li>
          <li><a href="http://">Categories</a></li>
          <li><a href="http://">Sub-Categories</a></li>
        </ul>
      </div>
      <!-- End of list of  -->
    </aside>
    <!-- End of side bar section  -->

    <!-- ==================================================End of Side Bar Area========================================================= -->

    <style>
      .links ul{
        display: flex;
        flex-direction: column;
      }
      .links ul li{
        justify-content: center;
        text-align: center;
        padding: .5rem;
        /* margin: .1rem; */
        list-style: none;
        background-color: #fff;
        border: 1px solid #f0f0f0;
        box-shadow: 0 0.5px 1px #888888;
        
      }
      .links ul li a{
        font-weight: bold;
        font-size: medium;
        text-decoration: none;
        color: #000;
        display: block;
      }
    </style>