<!-- ==================================================Side Bar Area start========================================================= -->
    <!-- Sidebar section means categories section -->
    <aside class="sidebar">
      <!-- Heading area -->
      <div class="sidebar-header">
        <h1>Important Links</h1>
        <button class="closebtn" onclick="closeSideBar()"><i style="font-size:2rem" class="fas">&#xf00d;</i></button>
      </div>
      <!-- End of heading area -->
      <!-- Thsi is list of categores in side bar like books, electronics -->
      <div class="sidebar-links">
        <button>Pending Ads</button>
        <button>Approved Ads</button>
        <button>Total Users</button>
        <button>List of Sub-categories</button>
        <button>List of Cites</button>
        <button>List of approved ads</button>
      </div>
      <!-- End of list of  -->
    </aside>
    <!-- End of side bar section  -->

    <!-- ==================================================End of Side Bar Area========================================================= -->