<!-- ==================================================Side Bar Area start========================================================= -->
    <!-- Sidebar section means categories section -->
    <aside class="sidebar">
      <!-- Heading area -->
      <div class="sidebar-header">
        <h1>Important Links</h1>
        <button class="closebtn" id="closeSideBar"><i style="font-size:2rem" class="fas">&#xf00d;</i></button>
      </div>
      <!-- End of heading area -->
      <!-- Thsi is list of categores in side bar like books, electronics -->
      <div class="admin-links">
        <ul>
          <li><a href="/admin/pending_ads">Pending Ads</a></li>
          <li><a href="/admin/all_approved_ads">Approved Ads</a></li>
          <li><a href="/admin/all_verified_users">Verified Users</a></li>
          <li><a href="/admin/all_un_verified_users">Unverified Users</a></li>
          <li><a href="/admin/cat">Categories</a></li>
          <li><a href="/admin/sub_cat">Sub-Categories</a></li>
          <li><a href="/admin/state">States</a></li>
          <li><a href="/admin/city">Cities</a></li>
          <li><a href="/admin/users_ip">Users IP</a></li>
          <li><a href="/admin/messages">Messages</a></li>
        </ul>
      </div>
      <!-- End of list of  -->
    </aside>
    <!-- End of side bar section  -->

    <!-- ==================================================End of Side Bar Area========================================================= -->

    <style>
      .admin-links{
        width: 100%;
        padding: 0;
        margin: 0;
      }
      .admin-links ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
      }
      .admin-links ul li{
        list-style: none;
        background-color: #fff;
        border-bottom: 1px solid #f0f0f0;
        box-shadow: 0 0.5px 1px #010101;
        
      }
      .admin-links ul li a{
        padding: 1rem;
        /* height: 3rem; */
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 2rem;
        text-decoration: none;
        color: #000;
        display: block;
      }
    </style>