<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- jquery cdn links -->
  <script src="https://kit.fontawesome.com/d70525d306.js" crossorigin="anonymous"></script> <!--- fontawesome cdn link-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!---jquery cdn links--->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  <!-- jquery ui cdn link -->
  <script src="https://kit.fontawesome.com/d70525d306.js" crossorigin="anonymous"></script> <!--- fontawesome cdn link-->
  <script src="javascripts/script.js"></script>
  <script defer src="/javascripts/sidebar.js"></script>
  <title>oldmela.com</title>
</head>
<body>
  <!-- This is main grid container which cantian the three section first header second main area and last is footer section -->
  <div class="grid-container">
    <!-- ==================================================Hader Area========================================================= -->
    <div class="header-area">
      <!-- So in the head area have three section in one row first is logo boax in left side  second search box in center and last is links box in right side like sell and profile links  -->
      <!-- This if frist logo and side bar button section -->
      <div class="logo-box">
        <!-- There is button for side bar -->
        <div class="iconbar"><button class="openbtn" id="sideBaron"><i style='font-size:2rem' class='fas'>&#xf0c9;</i></button></div>
        <!-- Thsi main logo or brand name which is oldmela -->
        <div class="logo"><a href="/admin" style="text-decoration: none; color: #000000;"><h1>Admin Pannel</h1></a></div>
      </div>
      <!-- End of logo box  -->
      <!-- Thsi is links area for both desktop and mobile view it has two section first is sell item link and second is profile button -->
      <div class="links-box">
            <a href="/admin/admin_logout"><button style="padding: 0.5rem; border-radius: .3rem; font-weight: 200;">Logout</button></a>
      </div>
      
    </div>
    <!-- ==================================================End of Header section========================================================= -->