<%- include('./header') %>  <!-- header section -->
<%- include('./admin_sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
      <div class="cards">
          <div class="card">
            <h1>Total No of ads</h1>
            <h2>25</h2>
          </div>
          <div class="card">
            <h1>Total No of users</h1>
            <h2>105</h2>
          </div>
          <div class="card">
            <h1>Total No of Pending Ads</h1>
            <h2>05</h2>
          </div>
      </div>
    </div>
    <div class="footer-area">
      <div><h3>footer area</h3></div>
    </div>
     <!-- ==================================================End of footer Area========================================================= -->
</body>
</html>
