<%- include('./header') %>  <!-- header section -->
<%- include('./sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
      <div class="profile-header">
        <h1>About Us</h1>
        <h2>Buy & Sell anything form anywhere in Bihar India only on oldmela.com</h2>
      </div>
      <div class="article">
          <p>
            The oldmela.com is online market place.Buy & Sell anything form anywhere in Bihar India only on oldmela.com.The oldmela.com 
            provides free ads posting  facilities where any one can post second hand items books, cycle, cars, bikes, and anything.
          </p>
          <p>Currently oldmela.com covers all cities of Bihar.So oldmela.com is only applicable in Bihar only.</p>
      </div>
    </div>
    <!-- ==================================================footer Area========================================================= -->
    <%- include('./footer') %>
     <!-- ==================================================End of footer Area======================================== -->
     </div>
</body>
</html>

<style>
    .article{
        margin: 0.5em 5%;
        /* width: 80%; */
        padding: 1rem;
        height: auto;
        background-color: white;
        word-break: inherit;
        text-align: justify;
        box-shadow: inherit;
    }
    .article p{
        margin: .5rem;
        font-size: 1.8rem;
        line-height: 2rem;
        letter-spacing: .1rem;
    }
</style>