<% for(x of cat_data){ %>
    <button><%= x.name %></button>
    <!-- This is sub links area like engg books, medical books -->
    <div class="sidebar-link">
      <% for(y of sub_cat_data){ %>
        <% if((x._id).toString() === (y.cat_id).toString()){ %>
          <a href="/cat?id=<%= y._id %>"><%= y.name %></a>
        <% } %> 
      <% } %>
    </div>
    <% } %>