<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self';"> -->
  <meta name="title" content="oldmela.com India's most growing classified portal!">
  <meta name="description" content="oldmela.com is online classified website or an alternative of olx.The oldmela.com provides free ads posting  facilities where any one can post second hand items books, cycle, cars, bikes, and anything.">
  <meta name="keywords" content="wwww.oldmela.com, oldmela.com, oldmela, classified, classified website, classified protal, olx, alternative of olx, mela, oldmela india, oldmela Bihar,used bikes, used cars, used books, used itmes, secondhanditems,Buy,
Home,personal,electronics,Homes,Sale,classified,books,olditems">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- jquery cdn links -->
  <script src="https://kit.fontawesome.com/d70525d306.js" crossorigin="anonymous"></script> <!--- fontawesome cdn link-->
  <meta name="google-site-verification" content="4nVRWDSza6vXjgecMDBFz2dX0j0wsM3vc6ag-D-Mvtc" /><!-- Goodle search console link -->
  <script defer src="javascripts/sidebar.js"></script>
  <title>oldmela India's free classified portal! Buy and Sell free from anywhere in Bihar.</title>
</head>
<body>
  <!-- This is main grid container which cantian the three section first header second main area and last is footer section -->
  <div class="grid-container">
    <!-- ==================================================Hader Area========================================================= -->
    <div class="header-area">
      <!-- So in the head area have three section in one row first is logo boax in left side  second search box in center and last is links box in right side like sell and profile links  -->
      <!-- This if frist logo and side bar button section -->
      <div class="logo-box">
        <!-- There is button for side bar -->
        <div class="iconbar"><button class="openbtn" onclick="opensidebar()"><i style='font-size:2rem' class='fas'>&#xf0c9;</i></button></div>
        <!-- Thsi main logo or brand name which is oldmela -->
        <div class="logo"><a href="/" style="text-decoration: none; color: #000000;"><h1>oldmela</h1></a></div>
      </div>
      <!-- End of logo box  -->
      <!-- This is second section which is search box the search bax has two section first for select city and second is search item in one row -->
      <div class="search-box">
        <!-- select city section for desktop view -->
        <div id="city-select" class="city-select">
          <select onchange="cityId(this.value)">
            <option value="#">Select City</option>
            <% for(x of city_data){ %>
            <option value="<%= x._id %>"> <%= x.name %> </option>
            <% } %>
          </select>
        </div>
        <!-- This is search area for desk to view like search any items of products -->
        <div id="search-container" class="search-container">
          <form class="from-area" action="/search" method="GET">
            <input type="text" placeholder="Search.." name="search" required>
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
      <!-- End of search box section -->
      <!-- Thsi is links area for both desktop and mobile view it has two section first is sell item link and second is profile button -->
      <div class="links-box">
        <ul>
          <!-- This is location icon and search icon which is hide for destop it is for mobile view -->
          <li>      <div class="resposive-search-box">
            <div class="location-icon" onclick="selcetcity()"><i style='font-size:3rem' class='fas'>&#xf3c5;</i></div>
            <div class="search-icon" onclick="searchitem()"><i style='font-size:3rem' class='fas'>&#xf002;</i></div>
          </div></li>
          <!-- This part is for both mobile and also desktop views -->
          <li><a href="/sell_ads"><button>SELL</button></a></li>
          <!-- This is profile seciton where shows the sign in and sign up after click -->
          <% if(user_name){ %>
            <li><div onclick="profile()" class="profile"> <%= user_name[0].toUpperCase() %> </div></li>
          <% }else{ %>
            <li><a href="login"><div class="profile-icon"><i style='font-size:3.5rem' class='far' >&#xf2bd;</i></div></a></li>
          <% } %>
        </ul>
      </div>
      
    </div>
    <!-- ==================================================End of Header section========================================================= -->