    <%- include('header') %>  <!-- header section -->
    <%- include('sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
      <div class="cards">
        
        <div class="card">
          <a href="ads.html">
            <div class="image-section">
              <img src="images/b.jfif" alt="">
            </div>
          </a>
          <div class="details-section">
            <ul>
              <li><a href="ads.html">The wonderful cycle for the best for you</a></li>
              <li><i style='font-size:1.4rem; margin-right: .5rem;' class='fas'>&#xf156;</i>50000</li>
              <li><i style='font-size:1.4rem; margin-right: 0.5rem;' class='far'>&#xf073;</i>Date</li>
              <li><i style='font-size:1.4rem; margin-right: 0.5rem;' class='fas'>&#xf041;</i>location</li>
            </ul>
          </div>
        </div>
        

        <div class="card">
          <a href="ads.html">
            <div class="image-section">
              <img src="images/b.jfif" alt="">
            </div>
          </a>
          <div class="details-section">
            <ul>
              <li>The wonderful cycle for the best for you</li>
              <li><i style='font-size:1.4rem; margin-right: .5rem;' class='fas'>&#xf156;</i>Price</li>
              <li><i style='font-size:1.4rem; margin-right: 0.5rem;' class='far'>&#xf073;</i>Date</li>
              <li><i style='font-size:1.4rem; margin-right: 0.5rem;' class='fas'>&#xf041;</i>location</li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="image-section">
            <img src="images/b2.jfif" alt="">
          </div>
          <div class="details-section">
            <ul>
              <li>The wonderful cycle for the best for you</li>
              <li><i style='font-size:1.4rem; margin-right: .5rem;' class='fas'>&#xf156;</i>Price</li>
              <li><i style='font-size:1.4rem; margin-right: 0.5rem;' class='far'>&#xf073;</i>Date</li>
              <li><i style='font-size:1.4rem; margin-right: 0.5rem;' class='fas'>&#xf041;</i>location</li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="image-section">
            <img src="images/b.jfif" alt="">
          </div>
          <div class="details-section">
            <ul>
              <li>The wonderful cycle for the best for you</li>
              <li><i style='font-size:1.4rem; margin-right: .5rem;' class='fas'>&#xf156;</i>Price</li>
              <li><i style='font-size:1.4rem; margin-right: 0.5rem;' class='far'>&#xf073;</i>Date</li>
              <li><i style='font-size:1.4rem; margin-right: 0.5rem;' class='fas'>&#xf041;</i>location</li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="image-section">
            <img src="images/b2.jfif" alt="">
          </div>
          <div class="details-section">
            <ul>
              <li>The wonderful cycle for the best for you</li>
              <li><i style='font-size:1.4rem; margin-right: .5rem;' class='fas'>&#xf156;</i>Price</li>
              <li><i style='font-size:1.4rem; margin-right: 0.5rem;' class='far'>&#xf073;</i>Date</li>
              <li><i style='font-size:1.4rem; margin-right: 0.5rem;' class='fas'>&#xf041;</i>location</li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="image-section">
            <img src="images/b.jfif" alt="">
          </div>
          <div class="details-section">
            <ul>
              <li>The wonderful cycle for the best for you</li>
              <li><i style='font-size:1.4rem; margin-right: .5rem;' class='fas'>&#xf156;</i>Price</li>
              <li><i style='font-size:1.4rem; margin-right: 0.5rem;' class='far'>&#xf073;</i>Date</li>
              <li><i style='font-size:1.4rem; margin-right: 0.5rem;' class='fas'>&#xf041;</i>location</li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="image-section">
            <img src="images/b.jfif" alt="">
          </div>
          <div class="details-section">
            <ul>
              <li>The wonderful cycle for the best for you</li>
              <li><i style='font-size:1.4rem; margin-right: .5rem;' class='fas'>&#xf156;</i>Price</li>
              <li><i style='font-size:1.4rem; margin-right: 0.5rem;' class='far'>&#xf073;</i>Date</li>
              <li><i style='font-size:1.4rem; margin-right: 0.5rem;' class='fas'>&#xf041;</i>location</li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="image-section">
            <img src="images/b2.jfif" alt="">
          </div>
          <div class="details-section">
            <ul>
              <li>The wonderful cycle for the best for you</li>
              <li><i style='font-size:1.4rem; margin-right: .5rem;' class='fas'>&#xf156;</i>Price</li>
              <li><i style='font-size:1.4rem; margin-right: 0.5rem;' class='far'>&#xf073;</i>Date</li>
              <li><i style='font-size:1.4rem; margin-right: 0.5rem;' class='fas'>&#xf041;</i>location</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <!-- ==================================================footer Area========================================================= -->
    <div class="footer-area">
      <div>©2018-2019 By oldmela.com</div>
    </div>
  </div>
     <!-- ==================================================End of footer Area========================================================= -->
    <script>
      function opensidebar(){
        document.querySelector(".sidebar").classList.add("open");
      }
      function closeSideBar(){
        document.querySelector(".sidebar").classList.remove("open");
      }
      function selcetcity(){
          document.querySelector(".city").classList.add("city-open");
      }
      function removecity(){
        document.querySelector(".city").classList.remove("city-open");
      }
      function searchitem(){
        document.querySelector(".search").classList.add("search-open");
      }
      function closesearch(){
        document.querySelector(".search").classList.remove("search-open");
      }
      function profile(){
        var x = document.getElementById("profile");
        if(x.className == "profile-box"){
          x.classList.add("open-profile");
        }else{
          x.classList.remove("open-profile");
        }
      }
      function colseprofile(){
        var x = document.getElementById("profile");
        x.classList.remove("open-profile");
      }
      function opensidebarlinks(){
        var x = document.getElementById("sidebar-link");
        if (x.className === "sidebar-link"){
          x.classList.add("sidebar-link-open");
        }else{
          x.classList.remove("sidebar-link-open");
        }
      }
    </script>
</body>
</html>