<!-- ==================================================Side Bar Area start========================================================= -->
    <!-- Sidebar section means categories section -->
    <aside class="sidebar">
        <!-- Heading area -->
        <div class="sidebar-header">
          <h1>Categories</h1>
          <button class="closebtn" id="closeSideBar"><i style="font-size:2rem" class="fas">&#xf00d;</i></button>
        </div>
        <!-- End of heading area -->
        <!-- Thsi is list of categores in side bar like books, electronics -->
        <div id="catData" class="sidebar-links">

        </div>
        <!-- End of list of  -->
      </aside>
      <!-- End of side bar section  -->
      <!-- select city section -->
      <aside class="city">
        <!-- responsive city means mobile view interface -->
        <!-- Normal implementation -->
        <div  class="responsive-city">
          <!-- close button of city button -->
          <div>
            <!-- <button class="city-close-btn" id="removecity">  -->
              <!-- <i style="font-size: 3rem;" class="fas fa-long-arrow-alt-left"></i>  -->
            <!-- </button> -->
          </div>
          <!-- using jquery implementation -->
          <!-- <input placeholder="Search City..." class="citySearch"> -->
        </div>
      </aside>
      <!-- Serach section means mobile view interface -->
      <aside class="search">
        <div class="search-div">
          <button id="closeseSearchBtn"> 
            <i style="font-size: 3rem;" class="fas fa-long-arrow-alt-left"></i> 
          </button>
          <form  action="/search" method="GET">
            <input type="text" placeholder="Search.." name="search" required>
            <!-- search button -->
            <button onclick="closesearch()" type="submit"><i style="font-size: 3rem;" class="fa fa-search"></i></button>
          </form>

        </div>
      </aside>
      <!-- Profile sections for both desktop and mobile view interface -->
      <aside id="profile" class="profile-box">
        <div class="profile-links">
          <ul id="colseprofile">
            <li><a href="/">Home</a></li>
            <li><a href="dash_board">My Profile</a></li>
            <li><a href="/myads">My All Ads</a></li>
            <!-- <li><a href="/update_profile">Update Profile</a></li> -->
            <li><a href="/update_password">Change Password</a></li>
            <li><a href="logout">Logout</a></li>
          </ul>
        </div>
      </aside>
      <!-- ==================================================End of Side Bar Area========================================================= -->