<!-- ==================================================Side Bar Area start========================================================= -->
    <!-- Sidebar section means categories section -->
    <aside class="sidebar">
        <!-- Heading area -->
        <div class="sidebar-header">
          <h1>Categroies</h1>
          <button class="closebtn" onclick="closeSideBar()"><i style="font-size:2rem" class="fas">&#xf00d;</i></button>
        </div>
        <!-- End of heading area -->
        <!-- Thsi is list of categores in side bar like books, electronics -->
        <div class="sidebar-links">
          <% for(x of cat_data){ %>
          <button onclick="opensidebarlinks('<%= x._id %>')"><%= x.name %></button>
          <!-- This is sub links area like engg books, medical books -->
          <div id="sidebar-link" class="sidebar-link"></div>
          <% } %>
        </div>
        <!-- End of list of  -->
      </aside>
      <!-- End of side bar section  -->
      <!-- select city section -->
      <aside class="city">
        <!-- responsive city means mobile view interface -->
        <div  class="responsive-city">
          <select>
            <option  value="0">Select City</option>
            <% for(x of city_data){ %>
              <option value="1"><%= x.name %></option>
            <% } %>
          </select>
          <!-- colse button of select city oprions -->
          <div><button class="city-close-btn" onclick="removecity()"><i style="font-size:3rem" class="fas">&#xf00d;</i></button></div>
        </div>
      </aside>
      <!-- Serach section means mobile view interface -->
      <aside class="search">
        <div class="search-div">
          <form  action="index.html">
            <input type="text" placeholder="Search.." name="search">
            <!-- search button -->
            <button onclick="closesearch()" type="submit"><i style="font-size: 3rem;" class="fa fa-search"></i></button>
          </form>
        </div>
      </aside>
      <!-- Profile sections for both desktop and mbile view interface -->
      <aside id="profile" class="profile-box">
        <div class="profile-links">
          <ul onclick="colseprofile()">
            <li><div>Hellow</div><div><% if(user_name){ %><%= user_name %><% } %></div></li>
            <li><a href="dash_board">My prfile</a></li>
            <li><a href="logout">Logout</a></li>
          </ul>
        </div>
      </aside>
      <!-- ==================================================End of Side Bar Area========================================================= -->