<%- include('header') %>  <!-- header section -->
<%- include('sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
        <div class="form-container">

            <!-- <div class="profile-header">
                <h1>Welcome To oldmela.com</h1>
                <h2>Buy & Sell anything form anywhere in Bihar India only on oldmela.com</h2>
              </div> -->

            <div class="model">
                <div class="user-avtar">
                    <i class="far" >&#xf2bd;</i>
                    <h1> Reset Password </h1>
                </div>
                <div class="form-area">
                    <form class="frm" action="" method="post">
                        <% if(flag == 1){ %>
                        <div><p style="color: green;">Password has been updated!</p></div>
                        <% }else if (flag == 2) { %>
                            <div><p style="color: red;">Password does not matched!</p></div>
                        <% } %>    
                        <div class="input-area">
                          <!-- <label for="password"><b>New Password</b></label> -->
                          <span>New Password</span>
                          <input type="password" placeholder="Enter New Password" name="new_password" required>
                    
                          <!-- <label for="cinfirmpassword"><b>Confirm New Password</b></label> -->
                          <span>Confirm New Password</span>
                          <input type="password" placeholder="Enter Confirm New Password" name="confirm_new_Password" required>
                            
                          <button type="submit">Update</button>
                        </div>
                        <div class="input-area">
                            <a href="login"><button type="button">Back To Login</button></a>
                        </div>
                      </form>
                </div>
            </div>
        </div> <!--End of login area  -->
    </div>
    <!-- ==================================================footer Area========================================================= -->
    <%- include('footer') %>
     <!-- ==================================================End of footer Area============================================== -->
</div>
</body>
</html>