<%- include('header') %>  <!-- header section -->
<%- include('sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
        <div class="login-area">
            <div class="model">
                <div class="user-img">
                    <img src="images/img_avatar2.png" alt="Avatar" class="avatar">
                </div>
                <div class="form-area">
                    <form class="frm" action="" method="post">
                        <div><p style="color: red;"><%= msg %></p></div>
                        <div class="input-area">
                          <label for="otp"><b>Enter your phone number</b></label>
                          <input type="number" placeholder="Please enter your mobile no..." name="userPhone" required>
                            
                          <button type="submit">Submit</button>

                          <a href="/login"><button type="button">Back To Login</button></a>
                        </div>
                      </form>
                </div>
            </div>
        </div> <!--End of login area  -->
    </div>
    <!-- ==================================================footer Area========================================================= -->
    <%- include('footer') %>
     <!-- ==================================================End of footer Area================================================= -->
</div>
</body>
</html>