<%- include('header') %>  <!-- header section -->
<%- include('sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
        <div class="login-area">
            <div class="model">
                <div class="user-img">
                    <img src="images/img_avatar2.png" alt="Avatar" class="avatar">
                </div>
                <div class="form-area">
                    <form class="frm" action="" method="post">
                        <div><p style="color: red;"><%= msg %></p></div>
                        <div class="input-area">
                          <label for="otp"><b>OTP</b></label>
                          <input type="number" placeholder="Enter one time password" name="otp" required>
                            
                          <button type="submit">Verify</button>

                          <a href="login"><button type="button">Back To Login</button></a>
                        </div>
                      </form>
                </div>
            </div>
        </div> <!--End of login area  -->
    </div>
    <!-- ==================================================footer Area========================================================= -->
    <div class="footer-area">
      <div><h3>footer area</h3></div>
    </div>
     <!-- ==================================================End of footer Area========================================================= -->
</body>
</html>