html{
  font-size: 62.5%;
}
*{
  font: 1.6rem Helvetica;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #f9f9f9f9; */
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header-area"
  "main-area"
  "footer-area";
  grid-template-rows: 5rem 1fr 4rem;
  height: 100%;
}


/* =============================== auto complete============== */
.dropdown {
  position: absolute;
  background-color: white;
  display: none;
  /* width: 50%; */
}
.dropdown ul{
  list-style: none; 
  background-color: white; 
  padding: .5rem;
  /* margin-left: 29px; */
  /* width: 360px; */
}
.dropdown ul li{
  list-style-type: none;
  padding: 0.5rem;
  display: list-item;
  /* border-bottom: 1px solid darkblue; */
  text-align: -webkit-match-parent;
  font-family: 'Allerta', Helvetica, Arial, sans-serif;
  color: #495057;
  }
.dropdown ul li:hover {
  background-color: darkblue;
  color: white;
  cursor: pointer;
}

/* =========================================Side Bar section====================================== */
.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  transform: translateX(-30rem);
  transition: all .5s;
  width: 30rem;
  height: 100vh;
  border: 1px solid;
  overflow-y: scroll;
}
.sidebar-header{
  /* position: sticky; */
  display: flex;
  height: 5rem;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  border-bottom:1px solid ;
}
.sidebar-links{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  overflow: auto;
}
.sidebar-links button{
  /* height: 4rem; */
  background-color: #ffffff;
  padding: 0.6rem;
  font-size: 1.6rem;
  font-weight: bold;
  outline: none;
  border: none;
}
.sidebar-link{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  /* display: none; */
  background-color: #fff;
}
.sidebar-link-open{
  display: block;
}
.sidebar-link a{
  height: 3.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 2rem;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  padding: .5rem;
  display: block;
  transition: all .5s;
	--tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  cursor: pointer;
}
.sidebar h1{
  margin: 1rem 0rem 0rem 3rem;
  font-size: 2rem;
  font-weight: bold;
}
.sidebar.open{
  transform: translateX(0%);
}
.closebtn{
  margin: 1rem;
  width: 3.5rem;
  padding: 0.5rem;
  outline: none;
  border: 1px solid #000000;
  border-radius: 10%;
  cursor: pointer;
  background-color: #ffffff;
}
.closebtn:hover{
  border: 1px solid darkblue;
}
.city{
  position: fixed;
  width: 100%;
  background-color:white;
  transition: all .5s;
  transform: translateY(-6rem);
  display: flex;
  /* border: 1px solid; */
}
.city-open{
  transform: translateY(0);
}
.responsive-city{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.city-close-btn{
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background-color: #ffffff;
  outline: none;
  border: none;
}
.responsive-city input{
  width: 100%;
  padding: 1rem;
  border: 1px solid darkblue;
  border-radius: .5rem;
  outline: none;
  background-color: #ffffff;
  align-items: center;
  letter-spacing: 0.2rem;
}
.search{
  width: 100%;
  position: fixed;
  height: 5rem;
  transition: all .5s;
  transform: translateY(-6rem);
}
.search-open{
  transform: translateY(0);
}
.search-div{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.search-div button{
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background-color: #ffffff;
  outline: none;
  border: none;
}
.search-div form{
  display: flex;
  width:100% ;
  border: 1px solid darkblue;
  border-radius: .2rem;
}
.search-div form input{
  width: 100%;
  height: 5rem;
  /* letter-spacing: 0.2rem; */
  padding: 0 .5rem;
  border: none;
  outline: none;
}
.search-div form button{
  width: 8rem;
  font-size: 2rem;
  cursor: pointer;
}
.profile-box{
  position: absolute;
  width: 20rem;
  right: .5rem;
  transition: all .5s;
  top: 5rem;
  height: auto;
  background-color: white;
  border-radius: .3rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  display: none;
}
.open-profile{
  display: block;
  position: fixed;
}
.profile-links{
  width: 100%;
}
.profile-links ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.profile-links ul li{
  width: 100%;
  border-bottom: 1px solid #f1f1f1f1;
  list-style: none;
  /* padding: 0.5rem; */
  /* margin-top: 0.5rem; */
  /* opacity: .8; */
}
.profile-links ul li a{
  display: block;
  text-decoration: none;
  /* margin: 0.5rem; */
  padding: .5rem;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  font-size: 1.7rem;
  line-height: 2rem;
}
.profile-links ul li a:hover{
  background-image: linear-gradient(to right  , darkblue, #1616cc);
  color: #ffffff;
}

/* =========================================Header section====================================== */
.header-area{
  width: 100%;
  grid-area: "header-area";
  box-shadow: 0px 1px 1px #888888;
  /* background-color: #f0f0f0; */
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: sticky;
  top: 0;
}
.logo-box{
  display: flex;
  align-items: center;
}
.logo{
  padding-left: 0.5rem;
}
.logo h1{
  /* background-image: linear-gradient(to right  , darkblue, #1616cc); */
  /* color: darkblue; */
  font-size: 2.5rem;
  font-weight: bold;
}
.openbtn{
  width: 3.5rem;
  padding: 0.5rem;
  outline: none;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10%;
  cursor: pointer;
}
.resposive-search-box{
  display: none;
}
.search-box{
  display: flex;
  align-items: center;
  /* display: none; */
}
.city-select{
  border: 1px solid #000000;
  border-radius: .2rem;
}
.city-select input{
  padding: 0.8rem;
  outline: none;
  border: none;
  overflow: auto;
  background-color: #ffffff;
}
.city-select:hover{
  border: 1px solid darkblue;
}
.search-container{
  flex-basis: 100%;
  border-radius: 10%;
  margin-left: 2rem;
  /* width: 50rem; */
}
.from-area{
  /* width: 100%; */
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  border-radius: .2rem;
}
.search-container form input{
  width: 100%;
  padding: 0.7rem;
  outline: none;
  border: none;
}
.search-container form button{
  width: 6rem;
  padding: 0.7rem;
  outline: none;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.links-box ul{
  display: flex;
  align-items: center;
}
.links-box ul li{
  list-style: none;
  padding-right: 1.5rem;
}
.links-box ul li a{
  font-size: 1.6rem;
  text-decoration: none;
  color: #000000;
}
.links-box ul li a button{
  font-size: 1.5rem;
  border: 1px solid #000000;
  background-color: #ffffff;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(255, 255, 255, 0.7),inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  letter-spacing: 0.2rem;
  outline: none;
  border-radius: .2rem;
  cursor: pointer;
}
.links-box ul li a button:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
  color: #ffffff;
}
.profile{
  cursor: pointer;
  text-align: center;
  width: 3.4rem;
  font-size: 2.25rem;
  font-weight: 700;
  /* padding: 0.5rem; */
  border: 3px solid #000000;
  border-radius: 50%;
  opacity: .8;
}
.profile-icon{
  cursor: pointer;
}
/* =========================================Main section====================================== */
.main-area{
  width: 100%;
  /* height: 90vh; */
  grid-area: "main-area";
    background-color: #f0f0f0;
  /* border: 1px solid blue; */
  min-height:100vh;
}
.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cards a{
  text-decoration: none;
  color: #000000;
  outline: none;
  margin: 0;
  padding: 0;
}
.card{
  width: 24rem;
  /* height: 32rem; */
  border: 1px solid #f0f0f0;
  box-shadow: 0 0.5px 1px #888888;
  background-color: #ffffff;
  margin: 1rem 2rem 0 2rem;
  border-radius: .5rem;
  padding: 0.5rem;
}
.card:hover{
  box-shadow: 0 0.5px 4px #888888;
}
.image-section{
  width: 100%;
  height: 16rem;
  text-align: center;
}
.image-section img{
  border-radius: 0.5rem;
  max-width: 100%;
  max-height: 16rem;
  padding: 0.5rem;
  /* align-items: center; */
}
.details-section{
  width: 100%;
}
.details-section ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin: 0.5rem; */
  /* background-color: white; */
}
.details-section ul li{
  list-style: none;
  width: 98%;
  height: 2rem;
  margin: 0.1rem;
  overflow: hidden;
  font-size: 1.5rem;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgba(31, 41, 55, var(--tw-text-opacity));
}
.pagination{
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  text-align: center;
  /* border: 1px solid; */
}
.pagination button{
  padding: 0.5rem;
  outline: none;
  text-decoration: none;
  border-radius: 2px;
  border:none;
  cursor: pointer;
  background-image: linear-gradient(to right  , darkblue, #1616cc);
  color: #ffffff;
}
.pagination button:hover{
  /* border: 1px solid #f0f0f0; */
  box-shadow: 0 0.5px 1px #888888;
}
.pagination button i{
  width: 5rem;
  font-size: 2rem;
}

/* =========================================footer section====================================== */
.footer-area{
  width: 100%;
  height: 8rem;
  grid-area: "footer-area";
  /* border-top: 1px solid; */
  background-color: #222222;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: .5rem;
  flex-direction: column;
  /* padding: 0.5rem; */
  color: #ffffff;
}
.footer-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.footer-links a{
  text-decoration: underline;
  padding: 0.5rem;
  color: #ffffff;
}
.social-icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.social-icons i{
  margin: 0.5rem;
  font-size: 2.5rem;
}
.social-icons a{
  text-decoration: none;
  color: #ffffff;
}
.copy-right{
  margin-top: .5rem;
}
/* =========================================Ads page section====================================== */
.ads{
  width: 100%;
  /* min-height: 100vh; */
  /* border: 1px solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ads-image{
  margin: 2rem;
  width: 35%;
  height: 40rem;
  /* border: 1px solid red; */
  padding: 1rem;
  border: 1px solid #f0f0f0;
  box-shadow: 0 0.5px 1px #888888;
  background-color: #ffffff;
  /* text-align: center; */
}
.big-image{
  text-align: center;
}
.ads-image .big-image{
  height: 80%;
  background-color: #000000;
  /* border: 1px dotted red; */
}
.big-image img{
  max-height: 100%;
  max-width: 100%;
  object-fit: fill;
}
.ads-image .small-image{
  height: 20%;
  /* border: 1px solid blueviolet; */
  /* padding: 0.5rem; */
}
.small-image img{
  margin: 0.7rem;
  height: 7rem;
  max-width: 7rem;
  border-radius: 0.3rem;
  border: 1px solid #f0f0f0;
}
.small-image img:hover{
  border: 1px solid;
}
.ads-details{
  margin: 2rem;
  width: 20%;
  height: auto;
  /* border: 1px solid blue; */
  padding: 1rem;
  /* border: 1px solid #f0f0f0;
  box-shadow: 0 0.5px 1px #888888; */
  background-color: #ffffff;
}
.ads-details h2{
  font-weight: bold;
  border-bottom: 1px solid #f0f0f0;
}
.ads-details ul{
  width: 100%;
}
.ads-details ul li{
  list-style: none;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}
.ads-contact-details{
  margin: 2rem;
  width: 20%;
  height: auto;
  /* border: 1px solid blueviolet; */
  padding: 1rem;
  /* border: 1px solid #f0f0f0;
  box-shadow: 0 0.5px 1px #888888; */
  background-color: #ffffff;
}
.ads-contact-details h2{
  font-weight: bold;
  border-bottom: 1px solid #f0f0f0;
}
.ads-contact-details ul{
  width: 100%;
}
.ads-contact-details ul li{
  list-style: none;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}
/* ===============================================================User form Section================================ */
/* .danger-massage{
  width: 100%;
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
} */
.form-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.model{
  width: 58rem;
  padding: 0.5rem;
  margin: 0.5rem 10%;
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  border: 1px solid #f0f0f0;
  box-shadow: 0 0.5px 1px #888888;
  background-color: #ffffff;
}
.user-avtar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-avtar h1{
	font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 500;
}
.user-avtar i{
    padding: .5rem;
    font-size: 8rem;
    line-height: 1;
}
.frm{
  padding: 0.5rem;
}
.input-area{
  width: 100%;
  height: auto;
}
.input-area input{
  width: 100%;
  padding: 12px .5rem;
  margin-bottom: 1rem;
  display: inline-block;
  outline: none;
  border: 1px solid #ccc;
  /* box-sizing: border-box; */
}
.input-area input:hover{
  border: 1px solid darkblue;
}
.input-area button{
  background-image: linear-gradient(to right  , darkblue, #1616cc);
  color: #ffffff;
  padding: 14px 20px;
  margin: .5rem 0;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-decoration: none;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  border: none;
}
.input-area button:hover {
  opacity: 0.8;
}
.psw {
  float: right;
  padding-bottom: 1rem;
}

/* ===============================================================User profile Section================================ */
.profile-main-area{
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-header{
  width: 100%;
  height: 15rem;
  background-image: linear-gradient(to right  , darkblue, #1616cc);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  /* margin-bottom: 2rem; */

}
.profile-header h1{
  font-size: 2.875rem;
  line-height: 2.25rem;
  font-weight: 900;
  color: #ffffff;
}
.profile-header h2{
  color: #ffffff;
  margin-top: 2rem;
}
.profile-body{
  width: 57rem;
  margin: .5rem;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #f0f0f0;
  box-shadow: 0 0.5px 1px #888888;
  background-color: #ffffff;
}
.profile-info{
  width: 100%;
  margin-top: 2rem;
}
.profile-info ul{
  padding: .5rem;
}
.profile-info ul li{
  display: flex;
  justify-content: space-between;
  list-style: none;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
	font-size: 1.5rem;
  line-height: 2rem;
  padding: 1rem 0;
  border-bottom: 1px solid darkblue;
}
.profile-info button{
  outline: none;
  padding: .7rem;
  background-image: linear-gradient(to right  , darkblue, #1616cc);
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-decoration: none;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: .5rem;
  text-align: center;
  float: right;
  border: none;
}
/* ===============================================================sell Section================================ */
.sell-area{
  padding: 0.5rem;
  margin: 0.5rem 10%;
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
  box-shadow: 0 0.5px 1px #888888;
}
.row{
  margin: .5rem 0 0 0;
}
.sell_input {
  width: 100%;
  padding: 10px;
  outline: none;
  border:none;
  text-decoration: none;
  /* border-radius: 4px; */
  resize: vertical;
}
/* .sell_input:hover{
  border: 1px solid darkblue;
} */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.sell_submit{
  background-image: linear-gradient(to right  , darkblue, #1616cc);
  color: white;
  padding: 12px 20px;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: .5rem;
  border: none;
}

.sell_submit:hover {
  opacity: 0.8;
}

.col-25 {
  float: left;
  width: 25%;
  /* margin-top: 6px; */
}

.col-75 {
  float: left;
  width: 75%;
  /* margin-top: 6px; */
  border-radius: .2rem;
  border: 1px solid #ccc;
}
.col-75:hover{
  border: 1px solid darkblue;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* ===============================================================my ads Section================================ */
.my_ads{
  padding-top: 0.5rem;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
}


/* ===============================================================Responsive Section================================ */

@media only screen and (max-width: 600px) {
  body {
    background-color: #fff;
  }
  /* Footer area start */
  .footer-links a{
    font-size: 1.2rem;
  }
  .social-icons i{
    font-size: 1.8rem;
  }
  .copy-right{
    font-size: .5rem;
  }
  /* Header section  */
  .resposive-search-box{
      display: flex;
  }
  .location-icon, .search-icon{
      margin: 0.8rem;
      cursor: pointer;
  }
  .city-select{
      display: none;
  }
  .search-container{
      display: none;
  }
  .links-box ul li{
      padding-left: 1.5rem;
      padding-right: 0;
  }
  .profile-box{
      width: 50%;
  }
  /* HOme page area */
  .card{
      margin: 0;
      width: 100%;
      height: auto;
      margin: 0.5rem 0.5rem 0 .5rem;
      display: flex;
      flex-direction: row;
  }
  /* Ads page */
  .image-section{
    width: 18rem;
    height: 12rem;
  }
  .image-section img{
      max-height: 12rem;
      max-width: 18rem;
      padding: 0.8rem;
  }
  .details-section ul li{
      margin: 0.4rem 0;
  }
  .ads{
      padding: 0;
      margin: 0;
      flex-direction: column;
  }
  .ads-image{
      width: 100%;
      margin:.5rem 0;
  }
  .ads-details{
      width: 100%;
      /* padding: 0; */
      margin:.5rem 0;
      height: auto;
  }
  .ads-contact-details{
      width: 100%;
      margin:.5rem 0;
      height: auto;
  }
  /* User login area */
  .model{
    width: 100%;
    /* padding: 0.5rem; */
    margin: 0.5rem;
  }
  /* user profile section */
  .profile-header{
    padding: 0.5rem;
  }
  .profile-header h1{
    font-size: 2.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  .profile-body{
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  /* Sell ads section */
  .sell-area{
      padding: 0.5rem;
      margin: 0.5rem;
  }
  label {
    padding: 12px 12px 0 0;
    display: inline-block;
  }
  .col-25, .col-75, .sell_submit {
      width: 100%;
      margin-top: 0;
    }

}