<%- include('../header') %>  <!-- header section -->
<%- include('./user_profile_sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
      <div class="cards">
          <h3 style="text-align: center; margin-top: .5rem;"> Dear <span style="color: green; margin: 0 .5rem;"> <%= user_name %> </span> welcome to oldmela.com. Here we are trying to provide an alternative solutions of olx.</h3>
      </div>
    </div>
    <!-- ===================================Footer started =========================== -->
    <%- include('../footer') %>
     <!-- ==================================================End of footer Area================================================ -->
  </dive> <!--- end grid which is defined in header --->> 
</body>
</html>
