<%- include('../header') %>  <!-- header section -->
<%- include('./user_profile_sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
      <div class="sell-area">
          <h3 style="display: flex; justify-content: center;"> Dear <span style="color: green; margin: 0 .5rem;"> <%= user_name %> </span> welcome to oldmela.com. Here we are trying to provide an alternative solutions of olx.</h3>
      </div>
    </div>
    <div class="footer-area">
      <div><h3>footer area</h3></div>
    </div>
     <!-- ==================================================End of footer Area========================================================= -->
</body>
</html>
