<%- include('../header') %>  <!-- header section -->
<%- include('../sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
        <div class="sell-area">
          <form action=""  method="post" enctype="multipart/form-data">
            <div><p style="color: red;"><%= msg %></p></div>
            <div class="row">
              <div class="col-25">
                <label for="fname">Title/Name</label>
              </div>
              <div class="col-75">
                <input type="text" class="sell_input" id="fname" name="ads_name" placeholder="Ads name.." required>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="lname">Price</label>
              </div>
              <div class="col-75">
                <input type="number" class="sell_input"  id="lname" name="ads_price" placeholder="Ads price.." required>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="Categroies">Categroies</label>
              </div>
              <div class="col-75">
                <select class="sell_input"  name="ads_cat" required>
                  <option value="book">Books</option>
                  <option value="vahicle">Vahicle</option>
                  <option value="usa">Phones</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="Sub_Categroies">Sub_Categroies</label>
              </div>
              <div class="col-75">
                <select class="sell_input" name="sub_ads_cat">
                  <option value="Computer Science">Computer Science</option>
                  <option value="canada">Machanical</option>
                  <option value="usa">Food Technology</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label>Ads_Images</label>
              </div>
              <div class="col-75">
                <div class="upload_image_section">
                  <label for="image1">Image_1<input type="file" class="myFile" name="img_1" required></label>
                  <label for="image1">Image_2<input type="file" class="myFile" name="img_2"></label>
                  <label for="image1">Image_3<input type="file" class="myFile" name="img_3"></label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="subject">Description</label>
              </div>
              <div class="col-75">
                <textarea class="sell_input"  id="subject" name="description" placeholder="Write ads details.." style="height:100px" required></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="country">City</label>
              </div>
              <div class="col-75">
                <select class="sell_input"  name="city">
                  <option value="patna">Patna</option>
                  <option value="canada">Darbhnage</option>
                  <option value="usa">Madhubni</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="lname">Phone</label>
              </div>
              <div class="col-75">
                <input type="number" class="sell_input"  id="lname" name="phone" placeholder="Your mobile number.." required>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="subject">Address</label>
              </div>
              <div class="col-75">
                <textarea class="sell_input"  id="subject" name="address" placeholder="Write your contact address.." style="height:70px" required></textarea>
              </div>
            </div>
            <div class="row">
              <input type="submit" class="sell_submit" value="Submit">
            </div>
            </form>
        </div> <!--End of sell area  -->
    </div>
    <!-- ==================================================footer Area========================================================= -->
    <div class="footer-area">
      <div><h3>footer area</h3></div>
    </div>
     <!-- ==================================================End of footer Area========================================================= -->
    <script>
      function opensidebar(){
        document.querySelector(".sidebar").classList.add("open");
      }
      function closeSideBar(){
        document.querySelector(".sidebar").classList.remove("open");
      }
      function selcetcity(){
          document.querySelector(".city").classList.add("city-open");
      }
      function removecity(){
        document.querySelector(".city").classList.remove("city-open");
      }
      function searchitem(){
        document.querySelector(".search").classList.add("search-open");
      }
      function closesearch(){
        document.querySelector(".search").classList.remove("search-open");
      }
      function profile(){
        var x = document.getElementById("profile");
        if(x.className == "profile-box"){
          x.classList.add("open-profile");
        }else{
          x.classList.remove("open-profile");
        }
      }
      function colseprofile(){
        var x = document.getElementById("profile");
        x.classList.remove("open-profile");
      }
      function opensidebarlinks(){
        var x = document.getElementById("sidebar-link");
        if (x.className === "sidebar-link"){
          x.classList.add("sidebar-link-open");
        }else{
          x.classList.remove("sidebar-link-open");
        }
      }

    </script>
</body>
</html>