<div class="left-area">
    <div class="profile-image-section">
        <img src="images/img_avatar2.png" alt="">
    </div>
    <div class="user-info-section">
      <ul>
        <li> <!-- <span style="font-weight: bold;">Name:</span> --> <%= user_data.user_name %> </li>
        <li> <!-- <span style="font-weight: bold;">Phone:</span> --> <%= user_data.user_mobile %> </li>
      </ul>
    </div>
    <div class="profile-options-section">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/myads">My Ads</a></li>
            <li><a href="/update_profile">Update Profile</a></li>
            <li><a href="/update_password">Change Password</a></li>
            <!-- <li><a href="#">Donate</a></li> -->
            <li><a href="logout">Logout</a></li>
        </ul>
    </div>
</div>


