<div class="left-area">
    <div class="profile-image-section">
        <img src="images/img_avatar2.png" alt="">
    </div>
    <div class="user-info-section">
      <ul>
        <li> <!-- <span style="font-weight: bold;">Name:</span> --> <%= user_data.user_name %> </li>
        <li> <!-- <span style="font-weight: bold;">Phone:</span> --> <%= user_data.user_mobile %> </li>
      </ul>
    </div>
    <div class="profile-options-section">
        <ul>
            <li><a href="myads"><button id="my_ads">My Ads</button></a></li>
            <li><button id="update_profile">Update Profile</button></li>
            <li><button id="change_password">Change Password</button></li>
            <li><a href="#"><button>Donation</button></a></li>
            <li><a href="logout"><button>Logout</button></a></li>
        </ul>
    </div>
</div>


