<%- include('../header') %>  <!-- header section -->
<%- include('../sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
        <div class="profile-area">
            <div class="left-area">
                <div class="profile-image-section">
                    <img src="images/img_avatar2.png" alt="">
                </div>
                <div class="user-info-section">
                  <ul>
                    <li><span style="font-weight: bold;">Name:</span> Ajay Kumar</li>
                    <li><span style="font-weight: bold;">Phone:</span> 123456987</li>
                    <li><span style="font-weight: bold;">Email:</span> ajay@gmail.com</li>
                    <li><span style="font-weight: bold;">Gender:</span> Male</li>
                    <li><span style="font-weight: bold;">Address:</span> Darbahnga, Patna,Pujnag Bahir India</li>
                  </ul>
                </div>
                <div class="profile-options-section">
                    <ul>
                        <li><button>My Ads</button></li>
                        <li><button>Update Profile</button></li>
                        <li><button>Change Password</button></li>
                        <li><a href="/logout"><button>Logout</button></a></li>
                    </ul>
                </div>
            </div>
            <div class="right-area">
                content seciton
            </div>
        </div> <!--End of login area  -->
    </div>
    <!-- ==================================================footer Area========================================================= -->
    <div class="footer-area">
      <div><h3>footer area</h3></div>
    </div>
     <!-- ==================================================End of footer Area========================================================= -->
</body>
</html>